[Desktop Entry]
Version=1.0
Type=Application
Name=speedcrunch
Comment=
Exec=speedcrunch-launch
Icon=speedcrunch
Path=
Terminal=false
StartupNotify=false
