[Desktop Entry]
Version=1.0
Type=Application
Name=htop
Comment=
Exec=/usr/local/bin/pannel-cpu-usage
Icon=computer
Path=
Terminal=false
StartupNotify=false
